<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee.xsd">

    <import resource="spring-db.xml"/>
<!--    <import resource="spring-security.xml"/>-->

    <context:component-scan base-package="ru.ohapegor.logFinder"/>

    <jee:jndi-lookup id="jmsConnectionFactory"
                     jndi-name="jms/TestConnectionFactory"
                     resource-ref="true"
                     proxy-interface="javax.jms.ConnectionFactory"/>


    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="defaultDestinationName" value="jms/TestJMSQueue"/>
        <property name="destinationResolver" ref="jmsDestResolver"/>
    </bean>

    <bean id="jmsDestResolver"
          class=" org.springframework.jms.support.destination.JndiDestinationResolver"/>

    <!--<jms:annotation-driven/>-->

    <bean id="myContainerFactory"
          class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destinationResolver" ref="jmsDestResolver"/>
        <property name="concurrency" value="3-10"/>
    </bean>


</beans>